#timer-elements {
    position: absolute;
    z-index: 100;
    top: 6vw;
    left: 15vw;
}

#current {
    font-size: 5vw;
    font-weight: 550;
    background-color: rgba(200,200,200,0.75);
    border-radius: 1vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 0.75vw;
}

.clock-div {
    margin-top: 2.5vw;
}

.clock-block {
    font-size: 4vw;
    font-weight: 550;
    background-color: rgba(200,200,200,0.75);
    border-radius: 1vw;
    padding-left: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.75vw;
}

#should-be {
    padding-right: 1.5vw;
}

#period {
    padding-right: 1.5vw;
}

#time-block {
    padding-right: 1vw;
}

#countdown {
    padding-right: 1vw;
    background-color: rgba(246, 40, 40, 0.75);
    width: 28vw;
}