.clock {
    z-index: 100;
    position: absolute;
    top: 20vh;
    font-size: 5vw;
    font-weight: 550;
    width: 54vw;
    margin-left: 23vw;
    margin-right: 23vw;
}

.clock-block {
    z-index: 100;
    position: absolute;
    top: 60vh;
    font-size: 4vw;
    font-weight: 550;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(200,200,200,0.65);
    border-radius: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.75vw;
}

#period {
    margin-left: 25vw;
}

#time-block {
    margin-left: 50vw;
}