#timer-elements {
    position: absolute;
    z-index: 100;
    top: 6vw;
    left: 12vw;
}

#current {
    font-size: 5vw;
    font-weight: 500;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    //padding-left: 3.5vw;
    padding-right: 5vw;
    padding-bottom: 0.75vw;
    font-family: 'Work Sans', sans-serif;
}

.clock-div {
    margin-top: 15vw;
}

.clock-block {
    font-size: 4vw;
    font-weight: 550;
    background-color: rgba(200,200,200,0.75);
    border-radius: 1vw;
    padding-left: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.75vw;
}

#should-be {
    padding-right: 1.5vw;
}

#period {
    font-size: 3vw;
    font-weight: 400;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    padding-bottom: 0.75vw;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin-top: 4vw;
}

#time-block {
    font-size: 3vw;
    font-weight: 400;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    padding-bottom: 0.75vw;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin-top: 1vw;
}

#countdown {
    font-size: 3vw;
    font-weight: 400;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    padding-bottom: 0.75vw;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin-top: 1vw;
}

#finals-week {
    font-size: 5vw;
    font-weight: 500;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    padding-right: 5vw;
    padding-bottom: 0.75vw;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 6vw;
}

#finals {
    position: absolute;
    top: 22vw;
    left: 45vw;
    width: 23vw;
    border-radius: 2vw;
}